<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <title>doihaveabox</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
</head>
<body ng-app="myApp">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">doihaveabox</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li ><a data-toggle="modal" data-target="#helpModal" href="#">Help me!</a></li>
      </ul>
      <div id="helpModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Help me!</h4>
            </div>
            <div class="modal-body">
              <!-- Help goes here -->
              <div class="row vertical-align">
                <div class="col-sm-3">
                  <img src="//ddragon.leagueoflegends.com/cdn/7.19.1/img/champion/Gangplank.png">
                </div>
                <div class="col-sm-9">
                  <span>A colored portrait means: box is available on this champion.</span>
                </div>
              </div>
              <div class="row vertical-align">
                <div class="col-sm-3">
                  <img class="helpGrayImg" src="//ddragon.leagueoflegends.com/cdn/7.19.1/img/champion/Thresh.png">
                </div>
                <div class="col-sm-9">
                  <span>A gray portrait means: box been earned on this champion.</span>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-12 text-left">
      <div ng-controller="MainController">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                  <span>Summoner Name: </span>
                  <input type="text" ng-model="summonerName" ng-keypress="enterPressed($event)" id="txtSummonerName" required/>
                  <input type="button" ng-href='#here' ng-click='doihaveabox(summonerName)' value="Go"/>
                  <span class="errMsg" id="sumNameEmptyErrMsg">Please enter your summoner name.</span>
              </div>
              <div class="col-sm-12 col-xs-12">
                <div class="pull-left">
                  <span>Hide Champions with earned boxes: </span>
                  <input type="checkbox" ng-model="hideEarnedBoxes"  ng-click='toggleHideEarnedBoxes()'/>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <h1><span>Champions with unearned boxes</span></h1>
          </div>
          <div class="col-sm-12 text-center">
            <h3><span>GL, HF!</span></h3>
          </div>
        </div>
        <div class="row" id="divChamps">
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>XD</p>
</footer>


<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
</body>

</html>
